
body {
    /* background-color: rgb(0, 0, 0)    ; */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.bg-primary {
    background-color: #D63633 !important;
}

/* dark mode */
.nav-icon:hover {
    scale: 120%;
}

#post-buttons > img:hover{
    scale: 120%;
}

/* footer */
#footer {
    /* background-color: #D63633; */
}

.footer-images:hover {
    scale: 120%;
}

.icon {
    height: auto;
    width: 2em;
}

#hero-page {
    height: 100vh;
}

/* background-image */
#background-image {
    height: 110vh;
    width: 110vw;
}

#hero-page-logo {
    height: auto;
    width: 10vw;
}

#hero-page {
    background-image: url(/sources/images/crumpled-paper.png);
    background-size: 100vw auto;
    background-repeat: no-repeat;

}

/* floating nav */
.hover-nav {
    height: auto;
    width:40px;
}

.hover-nav:hover {
    scale: 120%;
}

.dropdown-menu {
    border: none;
    background-color: #d6363300;
}

.dropdown {
    border: none;
    background-color: #d6363300;
}

.dropdown-option {
    display: flex;
    justify-content: end;
    padding-right: 0.5em;
}

#nav-account {
    padding-right: 0.93em;
}

.button-option {
    border: none;
    background-color: #d6363300;
}

/* home */
.image {
    width: auto;
    max-height: 250px;
    min-height: 150px;
}

#modal-image:hover {
    scale: 105%;
}

/* upload */
#browse-upload {
    color: #D63633;
    text-decoration: underline;
    text-decoration-color: #D63633; 
    margin-top: -2em;
}

/* account */
#account-header {
    background-image: url(/sources/images/account-crumpled-paper.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 60vh;
    border-bottom: 1px solid #cfcfcf;
}

.margin-left {
    margin-left: 10%;
}

.account-post:hover {
    scale: 105%;
}

/* dark */
#dark-hero-page {
    background-image: url(/sources/images/dark-crumpled-paper.png);
    background-size: 100vw auto;
    background-repeat: no-repeat;
}

.account-details:hover {
    scale: 105%;
}

#dark-account-header {
    background-image: url(/sources/images/dark-account-crumpled-paper.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 60vh;
    border-bottom: 1px solid #3d3d3d;
}

