
body {
    /* background-color: bisque    ; */
}

.bg-primary {
    background-color: #D63633 !important;
}

/* dark mode */
#dark-mode {
    height: auto;
    width: 500px;
    background-color: red;
}

/* footer */
#footer {
    /* background-color: #D63633; */
}

#hero-page {
    height: 100vh;
}

/* background-image */
#background-image {
    height: 110vh;
    width: 110vw;
}

#hero-page-logo {
    height: auto;
    width: 5vw;
}

/* floating nav */
.hover-nav {
    height: auto;
    width:3vw;
}

.hover-nav:hover {
    scale: 120%;
}

.dropdown-menu {
    border: none;
    background-color: #d6363300;
}

.dropdown {
    border: none;
    background-color: #d6363300;
}

.dropdown-option {
    display: flex;
    justify-content: end;
    padding-right: 0.5em;
}

#nav-account {
    padding-right: 0.93em;
}

.button-option {
    border: none;
    background-color: #d6363300;
}

/* home */
.image {
    width: auto;
    height: 20vw;
}
