
body {
    background-color: bisque    ;
}

.bg-primary {
    background-color: #D63633 !important;
}

/* dark mode */
#dark-mode {
    height: auto;
    width: 500px;
    background-color: red;
}

/* footer */
#footer {
    /* background-color: #D63633; */
}

/* background-image */
#background-image {
    height: auto;
    width: 110vw;
}

